body {
  font-family: sans-serif;
}

header > div {
  position: absolute;
  background-color: #742a81;
  width: 100%;
  top: 0;
  text-align: center;
}

div > img {
  height: 150px;
  border-radius: 100px;
  margin: 0 auto;
}

.summary-container > h2 {
  text-align: center;

}

.right-section hr {
  color: 4px red;
  background-color: red;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

h2 {
  color: red;
}

main {
  margin-top: 7em;
}

.grid {
  display: flex;
}

.left-section {
  width: 400px;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #e6d8e9;
}


.right-section {
  flex: 1;
  padding: 20px 0 20px 20px;
  border: none;
}

footer {
  height: 90px;
  background-color: #742a81;
  text-align: center;
  margin-top: 0px;
  color: white;
}

footer > p {
  margin-top: 0;
}

.skills-container > ul > li > div {
  width: 30px;
  height: 10px;
  border: 1px solid red;
  background-color: red;
  display: flex;
  
}


