body {
  font-family: sans-serif;
  font-size: 1.1rem;
  Padding: 50px;
}

.details {
  width: 600px;
}


h1 {
  text-align: center;
  font-weight: 800;
  font-size: 3em;


}

.profile-container, .history-container {
  display: flex;
  align-items: center;


}

.profile-container > img {
  width: 10%;
  object-fit: cover;
  border-radius: 90px;
  margin-right: 40px;
}

.history-container {
  justify-content: space-between;
}

.bold {
  font-weight: 700;
}

.left-align {
  border-left: 1px solid #dadae6;
  padding-left: 5px;
  margin-left: 5px;
}

.contact-container {
  width: 800px;
  height: 300px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 5% auto;
  background-color: #f0a503;
  padding: 30px 50px 60px 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px #ff0000, -1em 0 0.4em #808000;
}

.contact-container  hr {
  border: none;
  border-top: 3px double #f87575;
  
}
.contact-container h1 {
  padding: 0;
  margin: 0;
}

.nail {
  position: absolute;
  left: 15px;
  width: 30px;
  height: 30px;
  background-color:#f58f8f;
  border-radius: 25px;
  box-shadow: 6px 2px 6px, rgba(0, 0, 0, 0.3);
}

.hobbies-container {
  position: relative;
  height: 300px;
  background: #e94e2f;
}
